.contact-card {
  width: 590px;
  height: 226px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  border-radius: 24px;
  padding: 0 2rem;
  margin: auto;
}

.contact-card a {
  font-family: 'IBM Plex Mono';
  font-weight: 200;
  font-size: 3.2rem;
  line-height: 42px;

  text-align: center;

  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

@media (max-width: 575.98px) {
  .contact-card a {
    font-size: 2.8rem;
  }
}

.contact-card a:hover {
  border-bottom: 1px solid #ffffff;
}
