.service {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'IBM Plex Mono';
  color: #fff;
}

.service .heading-2 {
  margin-bottom: 28px;
}

.service span {
  font-weight: 700;
  font-size: 8rem;
  margin-bottom: 28px;
}

.service .heading-3 {
  font-weight: 700;
  font-size: 4.3rem;
  margin-bottom: 3.75rem;
  color: inherit;
}

.service .description {
  width: 74.8rem;
  max-width: 100%;
  font-weight: 400;
  font-size: 1.6rem;

  line-height: 1.7;
}
