.logo {
  margin-bottom: 12rem;
}

@media (max-width: 575.98px) {
  .logo {
    margin-bottom: 6rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .logo {
    margin-bottom: 6rem;
  }
}

.logo a {
  text-decoration: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 19px;
  color: #ffffff;
  text-transform: uppercase;
}
