.steps {
  padding: 3.5rem 0;
  padding-bottom: 5rem;
}

.bg1 {
  background: linear-gradient(
    239.42deg,
    rgba(137, 59, 59, 0.72) 18.75%,
    rgba(128, 64, 64, 0.72) 47.06%,
    rgba(13, 11, 11, 0.72) 82.1%
  );
}
.bg2 {
  background: linear-gradient(
    239.42deg,
    rgba(126, 59, 137, 0.72) 18.75%,
    rgba(135, 60, 132, 0.72) 23.38%,
    rgba(128, 64, 110, 0.72) 47.06%,
    rgba(13, 11, 11, 0.72) 82.1%
  );
}
.bg3 {
  background: linear-gradient(
    239.42deg,
    rgba(103, 137, 59, 0.72) 18.75%,
    rgba(98, 135, 60, 0.72) 23.38%,
    rgba(76, 128, 64, 0.72) 47.06%,
    rgba(13, 11, 11, 0.72) 82.1%
  );
}
