.header {
  background: black;
  height: 100vh !important;
  position: relative;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .header {
    height: auto !important;
    padding-bottom: 8rem !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header {
    height: auto !important;
  }
}

.header-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.explore {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 14.6rem;
  height: 14.6rem;
  color: #fff;
  background: rgba(151, 151, 151, 0.72);
  border-radius: 50%;
  font-weight: 700;
  font-size: 2rem;
  line-height: 26px;
  -webkit-animation: myAnim 2s ease 0s infinite normal forwards;
  animation: myAnim 2s ease 0s infinite normal forwards;
  transition: all 2s;
}

.explore:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  background: rgba(171, 169, 169, 0.8);
}

@-webkit-keyframes myAnim {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes myAnim {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 575.98px) {
  .header-content {
    margin-bottom: 4rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .header-content {
    margin-bottom: 6rem;
  }
}

.header-content span.idea {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 20px;
  color: rgb(162, 160, 160);
  margin-bottom: 6.2rem;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .header-content span.idea {
    margin-bottom: 6rem;
  }
}

@media (max-width: 575.98px) {
  .header-content span.idea {
    margin-bottom: 4rem;
  }
}
