/* // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

 */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background: rgba(0, 0, 0, 0.75);
}

.container {
  max-width: 115rem;
  margin: auto;
}

.list-unstyled {
  padding: 0;
  list-style: none;
}
.heading-1 {
  color: #fff;
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 42px;
  margin: auto;
  margin-bottom: 2.4rem;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .heading-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 575.98px) {
  .heading-1 {
    font-size: 2.5rem;
  }
}

.heading-2 {
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: 7.5rem;
  line-height: 50px;
  color: #fff;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .heading-2 {
    font-size: 6rem;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .heading-2 {
    font-size: 4.5rem;
  }
}

@media (max-width: 575.98px) {
  .heading-2 {
    font-size: 4rem;
  }
}

.home {
  /* -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  overflow-y: scroll; */

  scroll-behavior: smooth;
  height: 100vh;
}

header,
section,
footer {
  scroll-snap-align: start;
  position: relative;
  padding: 9rem 3rem 0 3rem !important;

  height: 100vh !important;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  header,
  section,
  footer {
    padding: 7rem 3rem 5rem 3rem !important;
    height: 50vh !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  header,
  section,
  footer {
    padding: 5rem 3rem 5rem 3rem !important;
    height: auto !important;
  }
}

@media (max-width: 575.98px) {
  header,
  section,
  footer {
    padding: 5rem 3rem 5rem 3rem !important;
    height: auto !important;
  }
}

header {
  padding: 3.5rem 3rem 5rem 3rem !important;
}

section.project {
  padding: 6rem 3rem 5rem 3rem !important;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  section.project {
    height: auto !important;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  footer {
    height: 50vh !important;
  }
}
