/* // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

 */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 1.6rem;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 105rem;
  margin: auto;
}

.list-unstyled {
  padding: 0;
  list-style: none;
}
.heading-1 {
  color: #fff;
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 42px;
  margin: auto;
  margin-bottom: 2.4rem;
}

@media (max-width: 575.98px) {
  .heading-1 {
    font-size: 2.8rem;
  }
}

.heading-2 {
  font-family: 'IBM Plex Mono';
  font-weight: 200;
  font-size: 4.8rem;
  line-height: 62px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

@media (max-width: 575.98px) {
  .heading-2 {
    font-size: 4rem;
  }
}

.heading-3 {
  font-family: 'Inter';
  font-weight: 900;
  font-size: 3.4rem;
  line-height: 44px;
  color: #000000;
  margin-bottom: 1.8rem;
  text-transform: uppercase;
}

@media (max-width: 575.98px) {
  .heading-3 {
    font-size: 3rem;
    margin-bottom: 1.3rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .heading-3 {
    font-size: 2.7rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .heading-3 {
    font-size: 2.7rem;
    margin-bottom: 1rem;
  }
}
